@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border-color: rgba(57, 57, 57, 0.74) !important;
}

html, body, #app {
    height: 100%;
    background: #0e0e0e;
    color: #d5d5d5;
}

.noscrollbar::-webkit-scrollbar {
    width: 0;
}